.about-work{background-color:#fff;}
.order{background-color:#fff;}
footer{background-color: rgba(57, 172, 249, 1);}
.price{background:#ffffff;}
.hakscr{background: #ffffff;}
.dignity{background-color:rgba(57, 172, 249, 1);}
header{background-color: rgba(57, 172, 249, 1);}.
header{background-color: rgba(57, 172, 249, 1);}
.hak{background: rgba(57, 172, 249, 1);}
.about{background-color: #fff;}