
/* Global */
::-moz-selection {
	background: #ff6; 
}
::selection {
	background: #ff6; 
}

h1 { 
	font-size: 2rem !important;
	
}
h2 { 
	font-size: 1.5rem !important;
	
}
h3 { 
	font-size: 1.17rem !important;
	margin-bottom: 1.17rem !important;
}
h5 { 
	font-size: .83rem !important;
	margin-bottom: .83rem !important;
}
h6 { 
	font-size: .75rem!important;
	margin-bottom: .75rem !important;
}

p {
	font-size: 1rem!important;
	margin-bottom: 0 !important;

}
.table{
	border:1px solid;
}

body{
	background: #fff url(../img/back3.jpg) no-repeat ;
	background-attachment: fixed;
	background-size: 100%;
}
header{
	max-width: 1280px;
	display: -webkit-box!important;
	display: -webkit-flex!important;
	display: -ms-flexbox!important;
	display: flex!important;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background-color: #2b8affbf;
	border-left: 1px solid #5165e2;
	border-right: 1px solid #5165e2;
	margin: 0 auto;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
section{
	max-width: 1280px;
	display: -webkit-box!important;
	display: -webkit-flex!important;
	display: -ms-flexbox!important;
	display: flex!important;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 auto;
	border-left: 1px solid #5165e2;
	border-right: 1px solid #5165e2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
caption{
	padding-left: 10px;
}
#toTop {
	width:100px;
	border: 1px solid #5165e2;
	background:#fdff66;
	text-align:center;
	padding:5px;
	position:fixed;
	bottom:10px; 
	right:10px;
	cursor:pointer;
	display:none;
	color:#333;
	font-family:verdana;
	font-size:11px;
}
.bg-yellow{
	background-color: #ff6;
}
.color-black{
	color: #000;
}
.fz15px{
	font-size: 15px;
}
span.fz15px{
	font-size: 12px;
}
.width25{
	width: 170px; 
}
.width30{
	width: 300px; 
}
.width5{
	width: 50px; 
}

.width60{
	width: 600px; 	
}
/* End */


.navbar-light .navbar-nav .nav-link {
	color: #000!important;
}

.header{
	background-color: #2b8affbf;
}
.about{
	background-color: #ffffffe0;
}
.buy{
	background-color: #ffffffe0;
}


.bg-yellow {
	background: #ff6!important;
}
.yellow{
	color: #ff6;
}




/* Прозрачный голубой цвет*/
.dignity{
	background-color: #2b8affbf;
	color: #fff;
}




.header-left{
	color: #fff;
	font-size: 36px;
	font-family: "Arial";
	line-height: 1.2;
	padding-top: 50px;
	padding-left: 50px;
	
	
}

.header-left__check{
	padding-left: 37px;
	padding-top: 20px;
	font-size: 1.17rem;
	background-image: url(../img/check-icon.png);
	background-repeat: no-repeat;
	background-position: 0 25px;

	
	
}
.header-left__check:last-child{
	padding-bottom: 50px;
	
}

.header-right{
	width: 320px;
	height: 215px;
	margin-right: 50px;
	margin-top: 50px;	
}

.about-right{
	width: 320px;
	height: 215px;
	margin-right: 50px;
	margin-top: 50px;
}

.header-right p{
	margin-top: 100px;
	margin-left: 150px;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.about-right p{
	margin-top: 100px;
	margin-left: 150px;
	color: #fff;
	width: 370px;
	height: 215px;
}
.about-left {
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 100px;
	max-width: 850px;
}

.about-left p {
	font-size: 20px;
}

.cntr{
	max-width: 1280px;
	text-align: center;
	display: contents;
	margin: 0 auto;
}

.dignity-left{
	margin-left: 50px;
	max-width: 590px;
}
.dignity-right{
	max-width: 630px;
	margin-bottom: 50px;
}

.header-left__shape {
	padding-left: 49px;
	padding-top: 27px;
	font-size: 20px;
	display: block;
	background-image: url(../img/shape.png);
	background-repeat: no-repeat;
	background-position: 0 25px;
}
.header-right__shape {
	padding-left: 49px;
	padding-top: 27px;
	font-size: 20px;
	display: block;
	background-image: url(../img/shape.png);
	background-repeat: no-repeat;
	background-position: 0 25px;
}
.hak{
	background: #2b8affbf;
	color: #fff;
	max-width: 1280px;
	margin: 0 auto;
	border-left: 1px solid #5165e2;
	border-right: 1px solid #5165e2;
	padding-top: 40px;
	padding-bottom: 35px;
}
.hakscr{
	background: #ffffffe0;    
	max-width: 1280px;
	margin: 0 auto;
	border-left: 1px solid #5165e2;
	border-right: 1px solid #5165e2;
	padding-top: 40px;
	padding-bottom: 35px;
	font-size: 42px;
}
.scr{
	
}
.buy__card{
	width: 300px;
	color: #fff;
	background: #5165e2;
	padding-bottom: 20px;
	border-radius: 10px;
	margin-left: 50px;
	margin-bottom: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;

}
.buy__card:last-child{
	width: 300px;
	color: #fff;
	background: #5165e2;
	padding-bottom: 20px;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

}
.buy__card-text {
	text-align: center;
	font-size: 38px;
	padding-top: 17px;
	padding-bottom: 17px;
}
.buy__card-price{
	color: #5165e2;
	background: #fff;
	border-left: 2px solid #5165e2;
	border-right: 2px solid #5165e2;
	font-size: 40px;
	font-weight: 600;
	text-align: center;

}
.ulli{
	margin-top: 20px;
}
.li{
	list-style-type:decimal;
}
.button{
	margin: 0 auto;
	color: #5165e2;
	padding-left: 25px;
	padding-right: 25px;
	background: #fff;
	border-left: 2px solid #5165e2;
	border-right: 2px solid #5165e2;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	border-radius: 10px;
	max-width: 90%;
	cursor: pointer;
	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}
.button:hover{
	margin: 0 auto;
	color: #5165e2;
	padding-left: 25px;
	padding-right: 25px;
	background: #d4edff;
	border-left: 2px solid #5165e2;
	border-right: 2px solid #5165e2;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	border-radius: 10px;
	max-width: 90%;
	cursor: pointer;
}

.fa{
	padding-right: 4px;
}

.pointerY{
	cursor: pointer;
	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}

.pointerY:hover{
	color: #ff6;
}
#particles-js {
	position: absolute;
	margin-left:165px;
	width: 1245px;
	height: 355px;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.price{
	background-color: #ffffffe0;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;


}

.plan h3{
	font-size: 24px;

}


.table-hover tbody tr:hover {
	background-color: #2b8affbf!important;
}

.table-flex{
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.table-flex__left{
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.table-flex__right{
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

/* Footer */
.footer{
	background-color: #2b8affbf;
}
.footer__caption{
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;

}
.footer__contact{
	-webkit-box-flex: 3;
	-webkit-flex-grow: 3;
	-ms-flex-positive: 3;
	flex-grow: 3;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.footer__map{
	-webkit-box-flex: 4;
	-webkit-flex-grow: 4;
	-ms-flex-positive: 4;
	flex-grow: 4;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
/* Footer end */