
/* Global */
.rubl {
font-family: 'PT Sans', serif;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0ysmIEDQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0w8mIEDQ.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0ycmIEDQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0x8mI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydIhUdwzM.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydKxUdwzM.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydIRUdwzM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydLxUd.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0-ExdGM.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0aExdGM.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0yExdGM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KExQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0OOtLQ0Z.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0OqtLQ0Z.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0OCtLQ0Z.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0O6tLQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
::-moz-selection {
	background: #ff6; 
}
::selection {
	background: #ff6; 
}
h1 { 
	font-size: 2rem !important;
	
}
h2 { 
	font-size: 1.5rem !important;
	
}
h3 { 
	font-size: 1.17rem !important;
	margin-bottom: 1.17rem !important;
}
h5 { 
	font-size: .83rem !important;
	margin-bottom: .83rem !important;
}
h6 { 
	font-size: .75rem!important;
	margin-bottom: .75rem !important;
}
.table{
	border:1px solid;
}
body{
	background: #fff url(../img/back3.jpg) no-repeat ;
	background-attachment: fixed;
	background-size: 100%;
}


header{
	max-width: 1280px;
	display: -webkit-box!important;
	display: -webkit-flex!important;
	display: -ms-flexbox!important;
	display: flex!important;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-left: 1px solid #5165e2;
	border-right: 1px solid #5165e2;
	margin: 0 auto;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
section{
	max-width: 1280px;
	display: -webkit-box!important;
	display: -webkit-flex!important;
	display: -ms-flexbox!important;
	display: flex!important;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 auto;
	border-left: 1px solid #5165e2;
	border-right: 1px solid #5165e2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;	
}
footer{
	max-width: 1280px;
	display: -webkit-box!important;
	display: -webkit-flex!important;
	display: -ms-flexbox!important;
	display: flex!important;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 auto;
	border-left: 1px solid #5165e2;
	border-right: 1px solid #5165e2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
caption{
	padding-left: 10px;
}

.h-show{
	opacity: 1;
	-webkit-transition:all 2s ease-out;
	-o-transition:all 2s ease-out;
	transition:all 2s ease-out;

	}
.h-hide{
	opacity: 0;
}
.ulli{
	margin-top: 20px;
}
.li{
	list-style-type:decimal;
}
#toTop {
	width:100px;
	border: 1px solid #5165e2;
	background:#fdff66;
	text-align:center;
	padding:5px;
	position:fixed;
	bottom:10px; 
	right:10px;
	cursor:pointer;
	display:none;
	color:#333;
	font-family:verdana;
	font-size:11px;
}

.scr{
	
}
.hak{
	color: #fff;
	max-width: 1280px;
	margin: 0 auto;
	border-left: 1px solid #5165e2;
	border-right: 1px solid #5165e2;
	padding-top: 40px;
	padding-bottom: 35px;
}
.hakscr{   
	max-width: 1280px;
	margin: 0 auto;
	border-left: 1px solid #5165e2;
	border-right: 1px solid #5165e2;
	padding-top: 40px;
	padding-bottom: 35px;
	font-size: 42px;
}
.fa{
	padding-right: 4px;
}

.bg-yellow {
	background: #ff6!important;
}
.yellow{
	color: #ff6;
}
.color-black{
	color: #000;
}
.fz15px{
	font-size: 15px;
}
span.fz15px{
	font-size: 12px;
}
.width25{
	width: 170px; 
}
.width30{
	width: 300px; 
}
.width5{
	width: 50px; 
}
.width60{
	width: 600px; 	
}

/* Прозрачный белый фон c черными буквами*/
.back-white0{
 background-color: rgba(255, 255, 255, 0.7);
 color: #000;
}

/* Прозрачный голубой фон с белыми буквами */
.back-blue0{
	background-color: rgba(43, 138, 255, 0.7);/*Прозрачный фон IE*/
}

/* Просто дополнительный класс 
для расскрашивание шрифтов */
.bl{
	color: #5165e2;
}

/* Button */
.button{
	margin: 0 auto;
	color: #5165e2;
	padding-left: 25px;
	padding-right: 25px;
	background: #fff;
	border-left: 2px solid #5165e2;
	border-right: 2px solid #5165e2;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	border-radius: 10px;
	max-width: 90%;
	cursor: pointer;
	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}
.button:hover{
	margin: 0 auto;
	color: #5165e2;
	padding-left: 25px;
	padding-right: 25px;
	background: #d4edff;
	border-left: 2px solid #5165e2;
	border-right: 2px solid #5165e2;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	border-radius: 10px;
	max-width: 90%;
	cursor: pointer;
}
.btn-yellow{
	background-color: #fdff66;
  	border: 1px solid #5165e2;
  	border-radius: .3rem;
}
.btn-yellow:hover{
  background-color: #5165e2;
  border: 1px solid #fdff66;
  color: #fff;
}

/* Button end */

.nav-link{
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.nav-item>.nav-link:hover{
	cursor: pointer;
  	border: 0px!important;
  	color: #5165e2!important;
}

.navbar-light .navbar-nav .nav-link {
	color: #000!important;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #5165e2!important;
	font-size: 1.1rem;
}
/* Center */
.cntr{
	max-width: 1280px;
	text-align: center;
	display: contents;
	margin: 0 auto;
}
.cntrP{
	text-align: center;
}
/* Center end */

.form-check {
    padding-left: 2.25rem!important;
}


/* Global end */



.buy{	
}

.dignity{
	color: #fff;
}

/* Header css */
.header{
	
}
.header-left{
	color: #fff;
	font-size: 36px;
	font-family: "Arial";
	line-height: 1.2;
	padding-top: 50px;
	padding-left: 50px;		
}
.header-left__check{
	padding-left: 37px;
	padding-top: 20px;
	font-size: 1.17rem;
	background-image: url(../img/touch.png);
	background-repeat: no-repeat;
	background-position: 0 15px;
	background-size: 25px;	
}
.header-left__check:last-child{
	padding-bottom: 50px;	
}
.header-right{
	width: 320px;
	height: 215px;
	margin-right: 50px;
	margin-top: 50px;	
}

.header-right p{
	margin-top: 100px;
	margin-left: 150px;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.header-phone{
	margin-left: 50px;
}
/* Header css end */

/* Obout css */

.about{	
	padding-top: 50px;
	padding-bottom: 50px;
}
.about__right{
	width: 500px;
	margin-right: 50px;
}
.about-work{
	max-width: 1280px;
    margin: 0 auto;
}
.about-work iframe{
	margin: 0 auto;
	width: 100%;
}

.about__right p{
	margin-top: 100px;

}
.about__left {
	padding-left: 50px;
	max-width: 500px;
}

.about__left p {
	font-size: 1.1rem;
	margin-bottom: 0 !important;
}
.galeryFlex>.item>span{
	font-size: .7rem;
} 

.galeryFlex {
	text-align: center;
	font-weight: 600;
	color: #fdff66;
	text-shadow: 
		-0   -1px 1px #000000,
		 0   -1px 1px #000000,
		-0    1px 1px #000000,
		 0    1px 1px #000000,
		-1px -0   1px #000000,
		 1px -0   1px #000000,
		-1px  0   1px #000000,
		 1px  0   1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000;
}
/* Obout css end*/

/* Our dignity */
.dignity-left{
	margin-left: 50px;
	max-width: 590px;
}
.dignity-right{
	max-width: 630px;
	margin-bottom: 50px;
}

.header-left__shape {
	padding-left: 49px;
	padding-top: 27px;
	font-size: 20px;
	display: block;
	background-image: url(../img/shape-y.png);
	background-repeat: no-repeat;
	background-position: 0 25px;
}
.header-right__shape {
	padding-left: 49px;
	padding-top: 27px;
	font-size: 20px;
	display: block;
	background-image: url(../img/shape-y.png);
	background-repeat: no-repeat;
	background-position: 0 25px;
}



/* Our dignity end*/



.pointerY>span{
	cursor: pointer;
	-webkit-transition: all .6s ease;
	-o-transition: all .6s ease;
	transition: all .6s ease;
}

.pointerY>span:hover{
	color: #ff6;
}
#particles-js {
	position: absolute;
	margin-left:165px;
	width: 1245px;
	height: 355px;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.price{
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;


}

.plan h3{
	font-size: 24px;

}


.table-hover tbody tr:hover {
	background-color: #2b8affbf!important;
}

.table-flex{
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.table-flex__left{
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.table-flex__right{
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

/* Order */
.order .order__left p.cntrP,
.order .order__left p.order__left-call{
	margin-bottom: 0.6rem;
}

.order__left{
	max-width: 520px;
    margin-left: 50px;
    font-size: 20px;
}
.order__left .order__left-request {
	margin-bottom: 0.6rem;
}
.order__right{
	margin-right: 50px;
    width: 600px;
}

/* Order end*/

/* Footer */
.footer__contact>p>span{
	margin-right: 10px;
}
.footer__contact p{
	margin-bottom: 5px;
	color:#fff;
}
.footer__contact,
.footer__map,
.footer__requisites{
	margin-top: 50px;
	margin-bottom: 50px;
	color: #fff;
}
.footer__contact{
	padding-left: 50px;	
	font-size: 1.5rem!important;		
}
.footer__phone {	
}

.footer__requisites{
	margin-top: 60px;	
	margin-left: 50px;
	font-size: 	1.5rem;
}
.footer__requisites p{
	margin-bottom: 0;
}
.footer__map{
	padding-bottom: 50px;
	padding-right: 50px;
	
}
.footer__map p{
	font-size: 1.5rem!important;
}
.footer__phone{

}
.footer__soc-icon{
	
}
.footer__soc-icon .fa-telegram,
.fa-viber, .fa-whatsapp-square, .fa-vk{
	cursor:pointer;
	margin-right: 10px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	
} 

.fa-telegram:hover,
.fa-viber:hover, .fa-whatsapp-square:hover, .fa-vk:hover{
	color:#fdff66;
	font-size: 1.8rem!important;
}
.footer__work-time{
	
}
.container-btn{
	width: 242px;
}

.footer__copyright{
	margin: 0 auto;
	font-size: 1.5rem;
}
.result .answer{
	text-color: #000!important;
	}

#messegeResult{
	padding-left: 15px;
}	

.footer__hr{
	border-top: 1px solid rgba(6, 0, 0, 0.9);
}
/*Footer end */